@theme inline {
  --color-tokyonight-moon-bg: oklch(from #222436 l c h);
  --color-tokyonight-moon-bg-dark: oklch(from #1e2030 l c h);
  --color-tokyonight-moon-bg-dark1: oklch(from #191B29 l c h);
  --color-tokyonight-moon-bg-float: var(--color-tokyonight-moon-bg-dark);
  --color-tokyonight-moon-bg-highlight: oklch(from #2f334d l c h);
  --color-tokyonight-moon-bg-popup: var(--color-tokyonight-moon-bg-dark);
  --color-tokyonight-moon-bg-search: var(--color-tokyonight-moon-blue0);
  --color-tokyonight-moon-bg-sidebar: var(--color-tokyonight-moon-bg-dark);
  --color-tokyonight-moon-bg-statusline: var(--color-tokyonight-moon-bg-dark);
  --color-tokyonight-moon-bg-visual: oklch(from #2d3f76 l c h);
  --color-tokyonight-moon-black: oklch(from #1b1d2b l c h);
  --color-tokyonight-moon-black-bright: oklch(from #444a73 l c h);
  --color-tokyonight-moon-blue: oklch(from #82aaff l c h);
  --color-tokyonight-moon-blue-bright: oklch(from #9ab8ff l c h);
  --color-tokyonight-moon-blue0: oklch(from #3e68d7 l c h);
  --color-tokyonight-moon-blue1: oklch(from #65bcff l c h);
  --color-tokyonight-moon-blue2: oklch(from #0db9d7 l c h);
  --color-tokyonight-moon-blue5: oklch(from #89ddff l c h);
  --color-tokyonight-moon-blue6: oklch(from #b4f9f8 l c h);
  --color-tokyonight-moon-blue7: oklch(from #394b70 l c h);
  --color-tokyonight-moon-border: var(--color-tokyonight-moon-black);
  --color-tokyonight-moon-border-highlight: oklch(from #589ed7 l c h);
  --color-tokyonight-moon-comment: oklch(from #636da6 l c h);
  --color-tokyonight-moon-cyan: oklch(from #86e1fc l c h);
  --color-tokyonight-moon-cyan-bright: oklch(from #b2ebff l c h);
  --color-tokyonight-moon-dark3: oklch(from #545c7e l c h);
  --color-tokyonight-moon-dark5: oklch(from #737aa2 l c h);
  --color-tokyonight-moon-diff-add: oklch(from #2a4556 l c h);
  --color-tokyonight-moon-diff-change: oklch(from #252a3f l c h);
  --color-tokyonight-moon-diff-delete: oklch(from #4b2a3d l c h);
  --color-tokyonight-moon-diff-text: var(--color-tokyonight-moon-blue7);
  --color-tokyonight-moon-error: var(--color-tokyonight-moon-red1);
  --color-tokyonight-moon-fg: oklch(from #c8d3f5 l c h);
  --color-tokyonight-moon-fg-dark: oklch(from #828bb8 l c h);
  --color-tokyonight-moon-fg-float: var(--color-tokyonight-moon-fg);
  --color-tokyonight-moon-fg-gutter: oklch(from #3b4261 l c h);
  --color-tokyonight-moon-fg-sidebar: var(--color-tokyonight-moon-fg-dark);
  --color-tokyonight-moon-git-add: oklch(from #b8db87 l c h);
  --color-tokyonight-moon-git-change: oklch(from #7ca1f2 l c h);
  --color-tokyonight-moon-git-delete: oklch(from #e26a75 l c h);
  --color-tokyonight-moon-git-ignore: var(--color-tokyonight-moon-dark3);
  --color-tokyonight-moon-green: oklch(from #c3e88d l c h);
  --color-tokyonight-moon-green-bright: oklch(from #c7fb6d l c h);
  --color-tokyonight-moon-green1: oklch(from #4fd6be l c h);
  --color-tokyonight-moon-green2: oklch(from #41a6b5 l c h);
  --color-tokyonight-moon-hint: var(--color-tokyonight-moon-teal);
  --color-tokyonight-moon-info: var(--color-tokyonight-moon-blue2);
  --color-tokyonight-moon-magenta: oklch(from #c099ff l c h);
  --color-tokyonight-moon-magenta-bright: oklch(from #caabff l c h);
  --color-tokyonight-moon-magenta2: oklch(from #ff007c l c h);
  --color-tokyonight-moon-orange: oklch(from #ff966c l c h);
  --color-tokyonight-moon-purple: oklch(from #fca7ea l c h);
  --color-tokyonight-moon-rainbow1: var(--color-tokyonight-moon-blue);
  --color-tokyonight-moon-rainbow2: var(--color-tokyonight-moon-yellow);
  --color-tokyonight-moon-rainbow3: var(--color-tokyonight-moon-green);
  --color-tokyonight-moon-rainbow4: var(--color-tokyonight-moon-teal);
  --color-tokyonight-moon-rainbow5: var(--color-tokyonight-moon-magenta);
  --color-tokyonight-moon-rainbow6: var(--color-tokyonight-moon-purple);
  --color-tokyonight-moon-rainbow7: var(--color-tokyonight-moon-orange);
  --color-tokyonight-moon-rainbow8: var(--color-tokyonight-moon-red);
  --color-tokyonight-moon-red: oklch(from #ff757f l c h);
  --color-tokyonight-moon-red-bright: oklch(from #ff8d94 l c h);
  --color-tokyonight-moon-red1: oklch(from #c53b53 l c h);
  --color-tokyonight-moon-teal: oklch(from #4fd6be l c h);
  --color-tokyonight-moon-todo: var(--color-tokyonight-moon-blue);
  --color-tokyonight-moon-warning: var(--color-tokyonight-moon-yellow);
  --color-tokyonight-moon-yellow: oklch(from #ffc777 l c h);
  --color-tokyonight-moon-yellow-bright: oklch(from #ffd8ab l c h);
}