@theme inline {
  --color-tokyonight-storm-bg: oklch(from #24283b l c h);
  --color-tokyonight-storm-bg-dark: oklch(from #1f2335 l c h);
  --color-tokyonight-storm-bg-dark1: oklch(from #1b1e2d l c h);
  --color-tokyonight-storm-bg-float: var(--color-tokyonight-storm-bg-dark);
  --color-tokyonight-storm-bg-highlight: oklch(from #292e42 l c h);
  --color-tokyonight-storm-bg-popup: var(--color-tokyonight-storm-bg-dark);
  --color-tokyonight-storm-bg-search: var(--color-tokyonight-storm-blue0);
  --color-tokyonight-storm-bg-sidebar: var(--color-tokyonight-storm-bg-dark);
  --color-tokyonight-storm-bg-statusline: var(--color-tokyonight-storm-bg-dark);
  --color-tokyonight-storm-bg-visual: oklch(from #2e3c64 l c h);
  --color-tokyonight-storm-black: oklch(from #1d202f l c h);
  --color-tokyonight-storm-black-bright: oklch(from #414868 l c h);
  --color-tokyonight-storm-blue: oklch(from #7aa2f7 l c h);
  --color-tokyonight-storm-blue-bright: oklch(from #8db0ff l c h);
  --color-tokyonight-storm-blue0: oklch(from #3d59a1 l c h);
  --color-tokyonight-storm-blue1: oklch(from #2ac3de l c h);
  --color-tokyonight-storm-blue2: oklch(from #0db9d7 l c h);
  --color-tokyonight-storm-blue5: oklch(from #89ddff l c h);
  --color-tokyonight-storm-blue6: oklch(from #b4f9f8 l c h);
  --color-tokyonight-storm-blue7: oklch(from #394b70 l c h);
  --color-tokyonight-storm-border: var(--color-tokyonight-storm-black);
  --color-tokyonight-storm-border-highlight: oklch(from #29a4bd l c h);
  --color-tokyonight-storm-comment: oklch(from #565f89 l c h);
  --color-tokyonight-storm-cyan: oklch(from #7dcfff l c h);
  --color-tokyonight-storm-cyan-bright: oklch(from #a4daff l c h);
  --color-tokyonight-storm-dark3: oklch(from #545c7e l c h);
  --color-tokyonight-storm-dark5: oklch(from #737aa2 l c h);
  --color-tokyonight-storm-diff-add: oklch(from #2b485a l c h);
  --color-tokyonight-storm-diff-change: oklch(from #272d43 l c h);
  --color-tokyonight-storm-diff-delete: oklch(from #52313f l c h);
  --color-tokyonight-storm-diff-text: var(--color-tokyonight-storm-blue7);
  --color-tokyonight-storm-error: var(--color-tokyonight-storm-red1);
  --color-tokyonight-storm-fg: oklch(from #c0caf5 l c h);
  --color-tokyonight-storm-fg-dark: oklch(from #a9b1d6 l c h);
  --color-tokyonight-storm-fg-float: var(--color-tokyonight-storm-fg);
  --color-tokyonight-storm-fg-gutter: oklch(from #3b4261 l c h);
  --color-tokyonight-storm-fg-sidebar: var(--color-tokyonight-storm-fg-dark);
  --color-tokyonight-storm-git-add: oklch(from #449dab l c h);
  --color-tokyonight-storm-git-change: oklch(from #6183bb l c h);
  --color-tokyonight-storm-git-delete: oklch(from #914c54 l c h);
  --color-tokyonight-storm-git-ignore: var(--color-tokyonight-storm-dark3);
  --color-tokyonight-storm-green: oklch(from #9ece6a l c h);
  --color-tokyonight-storm-green-bright: oklch(from #9fe044 l c h);
  --color-tokyonight-storm-green1: oklch(from #73daca l c h);
  --color-tokyonight-storm-green2: oklch(from #41a6b5 l c h);
  --color-tokyonight-storm-hint: var(--color-tokyonight-storm-teal);
  --color-tokyonight-storm-info: var(--color-tokyonight-storm-blue2);
  --color-tokyonight-storm-magenta: oklch(from #bb9af7 l c h);
  --color-tokyonight-storm-magenta-bright: oklch(from #c7a9ff l c h);
  --color-tokyonight-storm-magenta2: oklch(from #ff007c l c h);
  --color-tokyonight-storm-orange: oklch(from #ff9e64 l c h);
  --color-tokyonight-storm-purple: oklch(from #9d7cd8 l c h);
  --color-tokyonight-storm-rainbow1: var(--color-tokyonight-storm-blue);
  --color-tokyonight-storm-rainbow2: var(--color-tokyonight-storm-yellow);
  --color-tokyonight-storm-rainbow3: var(--color-tokyonight-storm-green);
  --color-tokyonight-storm-rainbow4: var(--color-tokyonight-storm-teal);
  --color-tokyonight-storm-rainbow5: var(--color-tokyonight-storm-magenta);
  --color-tokyonight-storm-rainbow6: var(--color-tokyonight-storm-purple);
  --color-tokyonight-storm-rainbow7: var(--color-tokyonight-storm-orange);
  --color-tokyonight-storm-rainbow8: var(--color-tokyonight-storm-red);
  --color-tokyonight-storm-red: oklch(from #f7768e l c h);
  --color-tokyonight-storm-red-bright: oklch(from #ff899d l c h);
  --color-tokyonight-storm-red1: oklch(from #db4b4b l c h);
  --color-tokyonight-storm-teal: oklch(from #1abc9c l c h);
  --color-tokyonight-storm-todo: var(--color-tokyonight-storm-blue);
  --color-tokyonight-storm-warning: var(--color-tokyonight-storm-yellow);
  --color-tokyonight-storm-yellow: oklch(from #e0af68 l c h);
  --color-tokyonight-storm-yellow-bright: oklch(from #faba4a l c h);
}