@theme inline {
  --color-tokyonight-day-bg: oklch(from #e1e2e7 l c h);
  --color-tokyonight-day-bg-dark: oklch(from #d0d5e3 l c h);
  --color-tokyonight-day-bg-dark1: oklch(from #c1c9df l c h);
  --color-tokyonight-day-bg-float: var(--color-tokyonight-day-bg-dark);
  --color-tokyonight-day-bg-highlight: oklch(from #c4c8da l c h);
  --color-tokyonight-day-bg-popup: var(--color-tokyonight-day-bg-dark);
  --color-tokyonight-day-bg-search: var(--color-tokyonight-day-blue0);
  --color-tokyonight-day-bg-sidebar: var(--color-tokyonight-day-bg-dark);
  --color-tokyonight-day-bg-statusline: var(--color-tokyonight-day-bg-dark);
  --color-tokyonight-day-bg-visual: oklch(from #b7c1e3 l c h);
  --color-tokyonight-day-black: oklch(from #b4b5b9 l c h);
  --color-tokyonight-day-black-bright: oklch(from #a1a6c5 l c h);
  --color-tokyonight-day-blue: oklch(from #2e7de9 l c h);
  --color-tokyonight-day-blue-bright: oklch(from #358aff l c h);
  --color-tokyonight-day-blue0: oklch(from #7890dd l c h);
  --color-tokyonight-day-blue1: oklch(from #188092 l c h);
  --color-tokyonight-day-blue2: oklch(from #07879d l c h);
  --color-tokyonight-day-blue5: oklch(from #006a83 l c h);
  --color-tokyonight-day-blue6: oklch(from #2e5857 l c h);
  --color-tokyonight-day-blue7: oklch(from #92a6d5 l c h);
  --color-tokyonight-day-border: var(--color-tokyonight-day-black);
  --color-tokyonight-day-border-highlight: oklch(from #4094a3 l c h);
  --color-tokyonight-day-comment: oklch(from #848cb5 l c h);
  --color-tokyonight-day-cyan: oklch(from #007197 l c h);
  --color-tokyonight-day-cyan-bright: oklch(from #007ea8 l c h);
  --color-tokyonight-day-dark3: oklch(from #8990b3 l c h);
  --color-tokyonight-day-dark5: oklch(from #68709a l c h);
  --color-tokyonight-day-diff-add: oklch(from #b7ced5 l c h);
  --color-tokyonight-day-diff-change: oklch(from #d5d9e4 l c h);
  --color-tokyonight-day-diff-delete: oklch(from #dababe l c h);
  --color-tokyonight-day-diff-text: var(--color-tokyonight-day-blue7);
  --color-tokyonight-day-error: var(--color-tokyonight-day-red1);
  --color-tokyonight-day-fg: oklch(from #3760bf l c h);
  --color-tokyonight-day-fg-dark: oklch(from #6172b0 l c h);
  --color-tokyonight-day-fg-float: var(--color-tokyonight-day-fg);
  --color-tokyonight-day-fg-gutter: oklch(from #a8aecb l c h);
  --color-tokyonight-day-fg-sidebar: var(--color-tokyonight-day-fg-dark);
  --color-tokyonight-day-git-add: oklch(from #4197a4 l c h);
  --color-tokyonight-day-git-change: oklch(from #506d9c l c h);
  --color-tokyonight-day-git-delete: oklch(from #c47981 l c h);
  --color-tokyonight-day-git-ignore: var(--color-tokyonight-day-dark3);
  --color-tokyonight-day-green: oklch(from #587539 l c h);
  --color-tokyonight-day-green-bright: oklch(from #5c8524 l c h);
  --color-tokyonight-day-green1: oklch(from #387068 l c h);
  --color-tokyonight-day-green2: oklch(from #38919f l c h);
  --color-tokyonight-day-hint: var(--color-tokyonight-day-teal);
  --color-tokyonight-day-info: var(--color-tokyonight-day-blue2);
  --color-tokyonight-day-magenta: oklch(from #9854f1 l c h);
  --color-tokyonight-day-magenta-bright: oklch(from #a463ff l c h);
  --color-tokyonight-day-magenta2: oklch(from #d20065 l c h);
  --color-tokyonight-day-orange: oklch(from #b15c00 l c h);
  --color-tokyonight-day-purple: oklch(from #7847bd l c h);
  --color-tokyonight-day-rainbow1: var(--color-tokyonight-day-blue);
  --color-tokyonight-day-rainbow2: var(--color-tokyonight-day-yellow);
  --color-tokyonight-day-rainbow3: var(--color-tokyonight-day-green);
  --color-tokyonight-day-rainbow4: var(--color-tokyonight-day-teal);
  --color-tokyonight-day-rainbow5: var(--color-tokyonight-day-magenta);
  --color-tokyonight-day-rainbow6: var(--color-tokyonight-day-purple);
  --color-tokyonight-day-rainbow7: var(--color-tokyonight-day-orange);
  --color-tokyonight-day-rainbow8: var(--color-tokyonight-day-red);
  --color-tokyonight-day-red: oklch(from #f52a65 l c h);
  --color-tokyonight-day-red-bright: oklch(from #ff4774 l c h);
  --color-tokyonight-day-red1: oklch(from #c64343 l c h);
  --color-tokyonight-day-teal: oklch(from #118c74 l c h);
  --color-tokyonight-day-todo: var(--color-tokyonight-day-blue);
  --color-tokyonight-day-warning: var(--color-tokyonight-day-yellow);
  --color-tokyonight-day-yellow: oklch(from #8c6c3e l c h);
  --color-tokyonight-day-yellow-bright: oklch(from #a27629 l c h);
}