// Tokyonight Zellij Colors
// Add this file to your `CONFIG_DIR/themes` directory as described here:
// https://zellij.dev/documentation/themes#getting-zellij-to-pick-up-the-theme

themes {
    tokyonight_night {
        fg "#c0caf5"
        bg "#292e42"
        // Black should match the terminal background color
        // This ensures the top and bottom bars are transparent
        black "#1a1b26"
        red "#f7768e"
        green "#9ece6a"
        yellow "#e0af68"
        blue "#7aa2f7"
        magenta "#bb9af7"
        cyan "#7dcfff"
        white "#a9b1d6"
        orange "#ff9e64"
    }
}

