// Tokyonight Zellij Colors
// Add this file to your `CONFIG_DIR/themes` directory as described here:
// https://zellij.dev/documentation/themes#getting-zellij-to-pick-up-the-theme

themes {
    tokyonight_moon {
        fg "#c8d3f5"
        bg "#2f334d"
        // Black should match the terminal background color
        // This ensures the top and bottom bars are transparent
        black "#222436"
        red "#ff757f"
        green "#c3e88d"
        yellow "#ffc777"
        blue "#82aaff"
        magenta "#c099ff"
        cyan "#86e1fc"
        white "#828bb8"
        orange "#ff966c"
    }
}

