(
  selected_tab: Some("#9854f1"),
  command_fg: Some("#848cb5"),
  selection_bg: Some("#c4c8da"),
  selection_fg: Some("#007197"),
  cmdbar_bg: Some("#e1e2e7"),
  cmdbar_extra_lines_bg: Some("#e1e2e7"),
  disabled_fg: Some("#848cb5"),
  diff_line_add: Some("#587539"),
  diff_line_delete: Some("#f52a65"),
  diff_file_added: Some("#387068"),
  diff_file_removed: Some("#c64343"),
  diff_file_moved: Some("#d20065"),
  diff_file_modified: Some("#8c6c3e"),
  commit_hash: Some("#9854f1"),
  commit_time: Some("#118c74"),
  commit_author: Some("#587539"),
  danger_fg: Some("#f52a65"),
  push_gauge_bg: Some("#e1e2e7"),
  push_gauge_fg: Some("#3760bf"),
  tag_fg: Some("#d20065"),
  branch_fg: Some("#8c6c3e")
)
