(
  selected_tab: Some("#c099ff"),
  command_fg: Some("#636da6"),
  selection_bg: Some("#2f334d"),
  selection_fg: Some("#86e1fc"),
  cmdbar_bg: Some("#222436"),
  cmdbar_extra_lines_bg: Some("#222436"),
  disabled_fg: Some("#636da6"),
  diff_line_add: Some("#c3e88d"),
  diff_line_delete: Some("#ff757f"),
  diff_file_added: Some("#4fd6be"),
  diff_file_removed: Some("#c53b53"),
  diff_file_moved: Some("#ff007c"),
  diff_file_modified: Some("#ffc777"),
  commit_hash: Some("#c099ff"),
  commit_time: Some("#4fd6be"),
  commit_author: Some("#c3e88d"),
  danger_fg: Some("#ff757f"),
  push_gauge_bg: Some("#222436"),
  push_gauge_fg: Some("#c8d3f5"),
  tag_fg: Some("#ff007c"),
  branch_fg: Some("#ffc777")
)
