(
  selected_tab: Some(Rgb(152,84,241)), // magenta #9854f1
  command_fg: Some(Rgb(132,140,181)), // comment #848cb5
  selection_bg: Some(Rgb(196,200,218)), // bg_highlight #c4c8da
  selection_fg: Some(Rgb(0,113,151)), // cyan #007197
  cmdbar_bg: Some(Rgb(225,226,231)), // bg #e1e2e7
  cmdbar_extra_lines_bg: Some(Rgb(225,226,231)), // bg #e1e2e7
  disabled_fg: Some(Rgb(132,140,181)), // comment #848cb5
  diff_line_add: Some(Rgb(88,117,57)), // green #587539
  diff_line_delete: Some(Rgb(245,42,101)), // red #f52a65
  diff_file_added: Some(Rgb(56,112,104)), // green1 #387068
  diff_file_removed: Some(Rgb(198,67,67)), // red1 #c64343
  diff_file_moved: Some(Rgb(210,0,101)), // magenta2 #d20065
  diff_file_modified: Some(Rgb(140,108,62)), // yellow #8c6c3e
  commit_hash: Some(Rgb(152,84,241)), // magenta #9854f1
  commit_time: Some(Rgb(17,140,116)), // teal #118c74
  commit_author: Some(Rgb(88,117,57)), // green #587539
  danger_fg: Some(Rgb(245,42,101)), // red #f52a65
  push_gauge_bg: Some(Rgb(225,226,231)), // bg #e1e2e7
  push_gauge_fg: Some(Rgb(55,96,191)), // fg #3760bf
  tag_fg: Some(Rgb(210,0,101)), // magenta2 #d20065
  branch_fg: Some(Rgb(140,108,62)), // yellow #8c6c3e
)
