(
  selected_tab: Some("#bb9af7"),
  command_fg: Some("#565f89"),
  selection_bg: Some("#292e42"),
  selection_fg: Some("#7dcfff"),
  cmdbar_bg: Some("#1a1b26"),
  cmdbar_extra_lines_bg: Some("#1a1b26"),
  disabled_fg: Some("#565f89"),
  diff_line_add: Some("#9ece6a"),
  diff_line_delete: Some("#f7768e"),
  diff_file_added: Some("#73daca"),
  diff_file_removed: Some("#db4b4b"),
  diff_file_moved: Some("#ff007c"),
  diff_file_modified: Some("#e0af68"),
  commit_hash: Some("#bb9af7"),
  commit_time: Some("#1abc9c"),
  commit_author: Some("#9ece6a"),
  danger_fg: Some("#f7768e"),
  push_gauge_bg: Some("#1a1b26"),
  push_gauge_fg: Some("#c0caf5"),
  tag_fg: Some("#ff007c"),
  branch_fg: Some("#e0af68")
)
